backups/
blueprints/
custom_components/
www/
tts/
secrets.yaml
home-assistant.sublime-workspace
FLUME_TOKEN_FILE-jeff@theharrells.com
__pycache__
.DS_Store
.HA_VERSION
.storage
.cloud
.uuid
.pip_progress
*.txt
*.pickle
*.conf
*.json
*.log*
*.db*
*.xml
*.sqlite
*.bak
@eaDir
.ha_run.lock
