
# skybell:
#   username: !secret skybell_user
#   password: !secret skybell_pass


# switch:
#   - platform: skybell
#     monitored_conditions:
#       - do_not_disturb


input_select:
  delay_timer:
    options:
      - "Select"
      - "0:15"
      - "0:30"
      - "1:00"
      - "1:30"
      - "2:00"


automation:
  - alias: Settings - Delay lights off
    initial_state: True
    hide_entity: True
    trigger:
      platform: state
      entity_id: input_select.delay_timer
    action:
      - condition: template
        value_template: "{{ trigger.to_state.state != 'Select' }}"
      - delay: "{{ trigger.to_state.state }}"
      - service: homeassistant.turn_off
        entity_id:
          - group.lights
      - service: input_select.select_option
        data:
          entity_id: input_select.delay_timer
          option: Select

  - alias: Settings - Reset at midnight
    initial_state: True
    trigger:
      platform: time
      at: "00:00:00"
    action:
      - service: homeassistant.turn_off
        entity_id:
          - switch.skybell_front_door_do_not_disturb
